<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.10.0/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="{{"/assets/css/style.css" | relative_url }}" type="text/css" />
  <link rel="stylesheet" href="{{"/assets/css/tango.css" | relative_url }}" type="text/css" />{% if page.latex %}
  <link rel="stylesheet" href="https://cdn.mowchan.me/libs/katex/katex.min.css">{% endif %}{% if page.datatables %}
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/datatables/1.9.4/css/jquery.dataTables_themeroller.min.css">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
