{% assign post = include.post %}
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <h2 class="post-title">{{ post.title }}</h2>{% if post.subtitle %}
            <p class="post-subtitle">{{ post.subtitle }}</p>{% else %}
            <p class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 12 }}</p>{% endif %}
          </a>
          <p class="post-meta">
            <span>本文作者：{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %} &middot; </span>
            <span>发布日期：{{ post.date | date: '%Y/%m/%d' }} &middot; </span>
            <span>阅读时长：{% assign words = post.content | number_of_words %}{% if words < 270 %}1 分钟 {% else %}{{ words | divided_by: 135 }} 分钟 {% endif %}</span>
          </p>
