pre {
  border: 1px solid #ccc;
  padding: 0.75em;
  border-radius: 4px;
}

code {
  font-size: 95%;
  color: #0085a1;
  word-break: break-word;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

.serif {
  font-family: 'Noto Serif SC';
  font-weight: 500;
}
.sans {
  font-family: 'Noto Sans SC';
  font-weight: 400;      
}

.container {
  text-align: justify;
}

.container {
  h1, h2, h3, h4, h5 {
    padding-top: 0.5em;
  }
  h1 {
    font-size: 2em;
    text-align: center;
  }
  h2 {
    font-size: 1.7em;
    text-align: center;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1.1em;
  }
  ol {
    padding-left: 1em;
  }
  .post-meta {
    text-align: center;
    font-size: 0.9em;
    color: $gray-600;
    padding: 0.4em 0;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus, &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
}

.post-preview {
  h1, h2 {
    text-align: left;
  }
  > a {
    color: $gray-900;
    &:focus, &:hover {
      text-decoration: none;
      color: $primary;
    }
    > .post-title {
      font-size: 22px;
      font-weight: 500;
      margin-top: 12px;
      margin-bottom: 6px;
    }
    > .post-subtitle {
      font-weight: 400;
      margin: 0 0 8px;
    }
  }
  > .post-meta {
    text-align: left;
    font-size: 15px;
    margin-top: 0;
    color: $gray-600;
    > a {
      text-decoration: none;
      color: $gray-900;
      &:focus, &:hover {
        text-decoration: underline;
        color: $primary;
      }
    }
  }
  @media only screen and (min-width: 768px) {
  }
}
