---
layout: default
---
  {% include masthead.html %}
  <div class="container">
    <div class="row">
      <div class="col-xl-10 col-lg-11 col-md-11 mx-auto">
        <h1>{{ page.title }}</h1>{% if page.subtitle %}
        <h2 class="subheading">{{ page.subtitle }}</h2>{% endif %}{% if page.incomplete %}
        <span class="meta">本文还未完成，近期可能还要修改或更新</span>{% endif %}
        {{ content }}
        <hr>
        <div class="clearfix">
          {% if page.previous.url %}<a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; 上一篇</a>{% endif %}
          {% if page.next.url %}<a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">下一篇 &rarr;</a>{% endif %}
        </div>
      </div>
    </div>
  </div>
